{% extends "blog/base.html" %}

{% load static %}

{% block title %} - درباره ما{% endblock %}

{% block content %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('{% static "blog/assets/img/about-bg.jpg" %}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <h1>درباره ما</h1>
                        <span class="subheading">به وبسایت وبلاگ مهندسی کامپیوتر ما خوش آمدید!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p>در این وبلاگ، ما با اشتیاق و تخصص، مقالاتی جامع و دقیق در زمینه مهندسی کامپیوتر، سیستم‌عامل‌ها، توزیع‌های مختلف و برنامه‌نویسی منتشر می‌کنیم. هدف ما این است که به علاقه‌مندان و حرفه‌ای‌های این حوزه، اطلاعات مفیدی ارائه دهیم و به جامعه مهندسی کامپیوتر کمک کنیم تا با جدیدترین تکنولوژی‌ها و روش‌های روز دنیا آشنا شوند.</p>
                    <p>ما تیمی از نویسندگان و متخصصان در زمینه‌های مختلف مهندسی کامپیوتر هستیم که با دقت و علاقه فراوان، مطالبی را تهیه و منتشر می‌کنیم. مقالات ما شامل بررسی‌های عمیق و تحلیل‌های جامع از سیستم‌عامل‌ها و توزیع‌های مختلف، راهنمایی‌های کاربردی برای برنامه‌نویسان و توسعه‌دهندگان نرم‌افزار، و همچنین معرفی تکنولوژی‌ها و ابزارهای نوین است.</p>
                    <p>با دنبال کردن ما، همیشه در جریان آخرین تحولات و پیشرفت‌های دنیای مهندسی کامپیوتر خواهید بود. از مطالب آموزشی و نکات فنی گرفته تا بررسی‌ها و مقایسه‌های تخصصی، ما همه‌ی جنبه‌های مرتبط با این حوزه را پوشش می‌دهیم تا بتوانید بهترین تصمیمات را برای پروژه‌ها و فعالیت‌های خود بگیرید.</p>
                    <p>ما به ارائه محتوای با کیفیت و قابل اعتماد متعهدیم و همواره در تلاشیم تا تجربیات و دانش خود را با شما به اشتراک بگذاریم. اگر سوال یا نظری دارید، خوشحال می‌شویم با ما در تماس باشید. از همراهی شما سپاسگزاریم و امیدواریم مطالب ما برای شما مفید و الهام‌بخش باشد.</p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
