{% extends "blog/base.html" %}

{% load static %}

{% block title %} - ارتباط با ما{% endblock %}

{% block content %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('{% static "blog/assets/img/contact-bg.jpg" %}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <h1>ارتباط با ما</h1>
                        <span class="subheading">سوالی دارید؟ من جواب هایی دارم</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p>دوست داری در تماس باشیم؟ برای ارسال پیام به من فرم زیر را پر کنید و در اسرع وقت با شما تماس خواهم گرفت!</p>
                    <div class="my-5">
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- * * SB Forms Contact Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/contact-forms-->
                        <!-- to get an API token!-->
                        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                            <div class="form-floating">
                                <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                <label for="name">نام و نام خانوادگی</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">نام مورد نیاز است.</div>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" id="email" type="email" placeholder="Enter your email..." data-sb-validations="required,email" />
                                <label for="email">آدرس ایمیل</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">ایمیل لازم است.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">ایمیل معتبر نیست</div>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" id="phone" type="tel" placeholder="Enter your phone number..." data-sb-validations="required" />
                                <label for="phone">شماره تلفن</label>
                                <div class="invalid-feedback" data-sb-feedback="phone:required">شماره تلفن مورد نیاز است.</div>
                            </div>
                            <div class="form-floating">
                                <textarea class="form-control" id="message" placeholder="Enter your message here..." style="height: 12rem" data-sb-validations="required"></textarea>
                                <label for="message">پیام</label>
                                <div class="invalid-feedback" data-sb-feedback="message:required">پیام لازم است.</div>
                            </div>
                            <br />
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">ارسال فرم با موفقیت انجام شد!</div>
                                    برای فعال کردن این فرم، ثبت نام کنید
                                    <br />
                                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">خطا در ارسال پیام!</div></div>
                            <!-- Submit Button-->
                            <button class="btn btn-primary text-uppercase disabled" id="submitButton" type="submit">ارسال</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
        